@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  height: 100%;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "TTSamlipCreamyWhiteR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/TTSamlipCreamyWhiteR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular", Arial, sans-serif, "PyeongChangPeace-Bold";
  box-sizing: border-box;
}

.transition-animation {
  @apply transition-colors duration-300 ease-in-out;
}

/* 부모 컴포넌트에 relative 추가 후 사용가능 */
.center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.mapPage-px {
  @apply md:px-10 lg:px-20;
}

input[type="radio"].recommend {
  display: none;
}
