@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "TTSamlipCreamyWhiteR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/TTSamlipCreamyWhiteR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular", Arial, sans-serif, "PyeongChangPeace-Bold";
  box-sizing: border-box;
}

.transition-animation {
  @apply transition-colors duration-300 ease-in-out;
}

/* 부모 컴포넌트에 relative 추가 후 사용가능 */
.center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.mapPage-px {
  @apply md:px-10 lg:px-20;
}

input[type="radio"].recommend {
  display: none;
}
input[type="checkbox"].recommend {
  display: none;
}

.recommedation-point {
  @apply z-[1] absolute rounded-md bg-blue-4 px-4 py-2 text-center text-white max-w-100 truncate;
}
.recommedation-start {
  @apply z-[1] absolute rounded-md bg-black px-4 py-2 text-center text-white max-w-100 truncate;
}

.recommedation-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 4s 0.5s linear forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  16.67% {
    stroke-dashoffset: 815;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
